# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db


